html,
body {
  margin: 0;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}
.title {
  text-align: center;
}
.search-form {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
